@page
@model E.sunbank0721.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1 class="display-4">歡迎下訂</h1>
    <div>
        <table style="border:2px #cccccc solid;" cellpadding="10" border="1">
            <tr>
                <td>選擇</td>
                <td>數量</td>
                <td>商品名稱</td>
                <td>價格</td>
            </tr>
            
            <tr>
                <td><input type="checkbox" name="checkbox" value="1" /><br /></td>
                <td><input type="text" name="numberbox" placeholder="請輸入需要的數量" /><br /></td>
                <td></td>
                <td></td>
            </tr>         
        </table>
        <input type="button" value="前往付款網站" onclick="" />
        <input type="submit" value="送出" />
    </div>

</div>
